.novos-episodios {
    color: white;
    font-family: var(--FontePrincipal);
}
.novos-episodios__titulo {
    font-size: 1.5rem;
    letter-spacing: 3px;
}
.novos-episodios__container {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}
.novos-episodios__item {
    position: relative;
    width: 30%;
    height: 13vw;
    background: #44355B;
    margin: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.novos-episodios__img {
    width: 100%;
    height: 100%;
}
.novos-episodios__nome {
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all .2s;
}

.novos-episodios__item:hover .novos-episodios__nome {
    transition: all .3s;
    font-size: 1.4rem;
}
