$englishViolet: #44355B;
$darkPurple: #31263E;
$raisinBlack: #221E22;
$purpleBlack: #07060E;
$purpleNotSoBlack: #0E0B1D;
$twitchPurple: #9966E7;
$twitchPurpleOpaco: #9966E790;

$fontePrincipal: 'Montserrat', sans-serif;
