.cabecalho {
    width: 100%;
    height: 72px;
    overflow: hidden;
}
.cabecalho__mega-container {
    background: var(--EnglishViolet);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    z-index: 1;
}
.cabecalho__titulo {
    font-family: var(--FontePrincipal);
    font-size: 20pt;
    color: white;
    margin-left: 2rem;
}
.cabecalho__container {
    width: 450px;
    display: flex;
    justify-content: space-between;
}