.menu__hamburger {

    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 0 2rem;
    z-index: 1000;
    align-self: center;
}
.hamburguer {
    width: 50px;
    height: 8px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
}
.hamburguer-1 {
    transition: all .6s;
    animation-name: ha1;
    animation-duration: 1s;
}
.hamburguer-3 {
    transition: all .6s;
    animation-name: ha3;
    animation-duration: 1s;

}